MONGODB_URI=https://cloud.mongodb.com/v2/6a8ffc3d80d8aa9825192d1c#/overview?automateSecurity=true
MONGODB_DB=portfolio
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=shivakethavath50@gmail.com
SMTP_PASS=fehs mgbs ypjh fvgq
